.title {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 1px solid #ffffff40;
}

section {
  background-image: url('./../../assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.title h1 {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  color: black;
  text-shadow: 2px 2px #7ba07b, 0 0 8px #fdfdfd;
}

.title h2 {
  font-family: 'Manrope', sans-serif;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px #7ba07b, 0 0 8px #000000;
}

#create-employee {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#department {
  margin-bottom: 1.5rem;
}
.btn {
  background-color: #7ba07b;
  cursor: pointer;
  color: white;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  border-color: #7ba07b;
}

#create-employee label {
  font-weight: 600;
  color: #d1e4d1;
}

.address legend {
  font-weight: 400;
  font-style: italic;
  color: #d1e4d1;
}

.form-control {
  height: 30px;
  border-radius: 5px;
  border-color: #b6b9b6;
  padding-left: 6px;
  padding-right: 6px;
}

.form-control:focus-visible {
  border-color: #095a09;
}

.dropdown-menu {
  position: relative;
}

.dropdown-menu_selected {
  border: 2px solid #7ba07b !important;
  background-color: white;
  height: 30px !important;
  cursor: pointer;
}

.dropdown-menu_selected_open {
  border: 2px solid #7ba07b !important;
  background-color: #7ba07b90;
}

.dropdown-menu_selected_text {
  color: #000000 !important;
}

.dropdown-menu_list {
  background-color: white;
  border: 2px solid #7ba07b !important;
}

.dropdown-menu_list_item:hover {
  background-color: #7ba07b90 !important;
}
