.header_nav_link {
  color: #2c3e50;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.header_nav_link:hover {
  color: green;
}

.header_nav {
  display: flex;
  gap: 2rem;
}

.header_logo_img {
  width: 100px;
  height: 100px;
}
