body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  background-image: url('./assets/banner.jpg');
}

#home_title {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #7ba07b, 0 0 8px #fdfdfd;
}

/* #home_subtitle {
  font-family: 'Manrope', sans-serif;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px #7ba07b, 0 0 8px #000000;
} */

#home {
  background-color: #ffffff40 !important;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#home_subtitle {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  background: linear-gradient(90deg, #000000, #000000, #000000);
  /* letter-spacing: 5px; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
  border: 2px solid #7ba07b;
  border-radius: 5px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  font-weight: bold;
}
.Modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  /* top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px; */
  max-width: 200px;
  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.Modal svg {
  cursor: pointer;
}

.Modal svg:hover {
  color: #7ba07b;
}

.svg-inline--fa {
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}
